.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
  color: #898b89;
}

.container img {
  width: 12rem;
}

form {
  padding: 1.5rem;
  background-color: white;
  border: 0.1px solid black;
  border-radius: 0.3rem;
}

form label {
  font-size: 1.2rem;
  color: black;
}

form input {
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  padding: 0.7rem;
  font-size: 1.4rem;
  width: 30rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #898b89;
  outline: none;

  &:focus {
    border-color: #2c2b2b;
  }
}

form button {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.forgot-block {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 1.2rem;

  & a {
    text-decoration: underline;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
